@charset "UTF-8";

/* Global */

dl,
dd,
dt,
ol,
li,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
body {
  font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', 'sans-serif';
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* header */

.title__container {
  height: 120px;
  background-color: #000;
}

.title {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1080px;
  height: 120px;
  padding-left: 40px;
  font-size: 40px;
  color: #fff;
  display: flex;
  align-items: center;
}

.element__container {
  margin: 0 auto;
  padding: 40px;
  width: 1000px;
}

/* wraper for lists and elements */
.wraper {
  margin: 0 auto;
  padding: 40px;
  width: 1000px;
}

/* lists */

.lists {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lists li {
  flex: 1;
  margin-left: 14px;
}

.lists li:first-child {
  margin: 0;
}

.lists li a {
  box-sizing: border-box;
  border: 1px #d1d1d1 solid;
  height: 33px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.lists li a:hover {
  border-color: #454545;
  font-weight: bold;
}

/* elements */

.elements__title {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px #454545 solid;
  margin-top: 40px;
  padding-bottom: 20px;
}

.element {
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px #d1d1d1 solid;
}

.element__title {
  margin: 0;
  display: flex;
  align-items: center;
  height: 46px;
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom: 1px #d1d1d1 solid;
  color: #333;
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: bold;
}

/* table */

.table__container {
  margin: 30px;
}

.table__childSize .table__title {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-bottom: 18px;
}

/* first table */
.table__childSize table {
  width: 100%;
  border: 1px #e4e4e4 solid;
  border-collapse: collapse;
  font-size: 12px;
  color: #555;
  text-align: center;
}

.table__childSize thead {
  background-color: #fbfbfb;
}
.table__childSize th {
  border: 1px #e4e4e4 solid;
  font-weight: bold;
  padding: 8px 0;
}

.table__childSize td {
  border: 1px #e4e4e4 solid;
  padding: 8px 0;
}

/* second stable */

.table__refund {
  margin-top: 40px;
}
.table__refund caption {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-bottom: 18px;
}

.table__refund table {
  width: 100%;
  border-top: 2px #a5a5a5 solid;
  border-collapse: collapse;
  font-size: 12px;
  color: #555;
  text-align: center;
}

.table__refund thead {
  border-bottom: 1px #e4e4e4 solid;
  background-color: #fbfbfb;
}

.table__refund th:not(:first-child) {
  text-align: right;
  padding: 8px;
}

.table__refund th {
  font-weight: normal;
}

.table__refund td {
  padding: 8px 8px;
}

.table__refund td:not(:first-child) {
  text-align: right;
}

.table__refund tfoot th {
  font-weight: bold;
}

.table__refund tfoot {
  font-weight: bold;
  border-top: 1px #a5a5a5 solid;
  border-bottom: 1px #e4e4e4 solid;
}

/* form */

.info__title {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.form__container {
  margin: 30px;
}
.form__container .form__title {
  margin-bottom: 12px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

/* info__container  */

.info__container {
  background-color: #fbfbfb;
  padding: 20px;
  border: 1px #e4e4e4 solid;
}

.info .info__title {
  margin-top: 18px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.info .info__title > input {
  width: 100%;
  font-size: 12px;
  color: #000;
  margin-top: 8px;
  box-sizing: border-box;
  line-height: 24px;
}

/* birth */

.birth__container .info__title {
  margin-top: 18px;
}

.birth__container .birth {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.birth__container .birth .birth__select {
  flex: 1;
  font-size: 12px;
  color: #000;
  height: 32px;
  margin-left: 8px;
}

.birth__container .birth .birth__select:first-child {
  margin: 0;
}

/* gender */
.gender__container {
  margin-top: 18px;
}
.gender__container .gender__title {
  text-align: left;
}

.gender__container .gender {
  margin-top: 8px;
  font-size: 12px;
  color: #000;
}

.gender__container .gender > label:first-child {
  margin-left: -2px;
}
.gender__container .gender > label:last-child {
  margin-left: 48px;
}

/* email */

.email__container {
  margin-top: 18px;
}

.email__container > label input {
  margin-top: 8px;
  line-height: 24px;
  box-sizing: border-box;
  width: 100%;
}

/* phone */

.phone__container {
  margin-top: 18px;
}

.number__container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.number__container .number {
  box-sizing: border-box;
  flex-grow: 6;
  line-height: 24px;
}

.number__container > button {
  flex-grow: 1;
  border: 1px #08a600;
  background-color: #4ec53d;
  font-size: 12px;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

.certification {
  box-sizing: border-box;
  margin-top: 8px;
}

.certification input {
  width: 100%;
  line-height: 24px;
  box-sizing: border-box;
}

/* hobby */

.hobby__title {
  margin-top: 18px;
}

.hobby__list {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  margin-left: -2px;
}

.hobby__list .hobby__element {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #000;
}
.hobby__list .hobby__element > input {
  margin-right: 4px;
}

/* greeting */

.greeting__container .greeting__title {
  margin-top: 18px;
}

.greeting__container .greeting__area > textarea {
  margin-top: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* join */
.join__container .join {
  border: 1px #08a600;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 36px;
  margin-top: 12px;
  cursor: pointer;
}

/* list */

.list__container {
  margin: 30px;
}

.project {
  margin-top: 12px;
  border: 1px #e4e4e4 solid;
  padding: 32px 20px;
}

.project .project__name {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: bold;
}

/* definition */

.definition__title {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  display: inline-block;
}
.definition__dictionary {
  font-size: 12px;
  color: #559bfa;
  display: inline-block;
}

.definition {
  margin-top: 8px;
  font-size: 12px;
  color: #000;
  line-height: 18px;
}

.definition__second {
  margin-top: 12px;
}

/* search */

.search__container {
  margin-top: 40px;
}

.rank__container {
  margin-top: 12px;
  border: 1px #e4e4e4 solid;
  padding: 20px;
  width: 200px;
}

.rank__container .rank {
  margin-bottom: 8px;
}
.rank__container .rank .rank__number {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  border: 1px #e0e0e0 solid;
  color: #666;
  font-size: 10px;
  text-align: center;
}

.rank__container .rank .rank__link {
  font-size: 12px;
  color: #000;
}

.rank > a:hover {
  text-decoration: underline;
}

/* cookie */

.cookie__container {
  margin-top: 40px;
}
.cookie__content {
  margin-top: 8px;
  padding: 14px 20px;
  border: 1px #e4e4e4 solid;
}

.cookie__content .cookie__lists {
  padding-left: 12px;
  margin: 0;
}

/* cookie__item */

.cookie__item {
  font-size: 12px;
  color: #000;
  list-style: disc;
  margin: 8px 0;
}

.cookie__item .cookie__link {
  text-decoration: underline;
}

.cookie__word--blue {
  color: #559bfa;
}

.cookie__strong {
  font-weight: bold;
}

.cookie__word--red {
  color: #ec5336;
  font-weight: normal;
}

.cookie__content li:last-child {
  line-height: 16px;
}

/* news */

.news__container {
  margin-top: 40px;
}

.news__container .news__contents {
  margin-top: 8px;
  border: 1px #e4e4e4 solid;
  padding: 0 20px;
}

/* news__content */

.news__article {
  display: flex;
  font-size: 12px;
  color: #000;
  border-bottom: 1px #e4e4e4 solid;
  padding: 20px 0;
}

.news__article .news__imageLink {
  margin-right: 8px;
}

.news__article .news__imageLink .news__image {
  width: 80px;
  height: 80px;
}

/* news__article */

.article__container .article__link {
  text-decoration: underline;
  font-size: 14px;
  color: #00c;
  font-weight: bold;
}

.article__container .article__contents {
  margin-top: 4px;
  line-height: 18px;
}

/* webtoon */

.webtoon__container {
  margin-top: 40px;
}

.webtoon__contents {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 8px;
  border: 1px #e4e4e4 solid;
  padding: 20px 21px 20px 20px;
}

/* webtoon */

.webtoon {
  margin-bottom: 16px;
}

.webtoon .webtoon__image {
  width: 285px;
  height: 140px;
}

.webtoon .webtoon__link {
  text-decoration: none;
}

.webtoon .webtoon__link:hover {
  text-decoration: underline;
}

.webtoon .webtoon__link .webtoon__title {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin: 4px 0;
}
.webtoon .webtoon__link .webtoon__subtitle {
  font-size: 12px;
  color: #000;
}

.webtoon:nth-child(3n-1) {
  margin: 0 20px;
}

.webtoon .webtoon__cutoon {
  border: 1px #71b036 solid;
  background-color: #80c83d;
  font-size: 10px;
  color: #fff;
  padding: 2px 4px;
}

.webtoon .webtoon__smartoon {
  border: 1px #df4e28 solid;
  background-color: #ec5336;
  font-size: 10px;
  color: #fff;
  padding: 2px 4px;
  margin-right: 4px;
}

/* footer */

footer {
  height: 150px;
}
.contact__container {
  border-top: 1px #d1d1d1 solid;
  margin: 0 auto;
  text-align: center;
}

.contact__address {
  margin-top: 24px;
  font-size: 12px;
  color: #999;
}

.contact__copyright {
  margin-top: 12px;
  font-size: 12px;
  color: #000;
}
