@charset "UTF-8";

body {
  font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', 'sans-serif';
  margin: 0;
}

.header__container {
  height: 120px;
  background-color: #000;
}
/* header */
.header {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1080px;
  height: 120px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
}

.element__container {
  margin: 0 auto;
  padding: 40px;
  width: 1000px;
}

/* elements__list */
.elements__list {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.elements__list li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.elements__list li:nth-child(2) {
  margin: 0 14px;
}

.elements__list li a {
  box-sizing: border-box;
  border: 1px #d1d1d1 solid;
  height: 33px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.elements__list li a:hover {
  border-color: #454545;
  font-weight: bold;
}

/* element__components */

.element__title {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px #454545 solid;
  margin-top: 40px;
  padding-bottom: 20px;
}

.components {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.components li {
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px #d1d1d1 solid;
}

.components li a {
  display: flex;
  align-items: center;
  height: 46px;
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom: 1px #d1d1d1 solid;
  color: #333;
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: bold;
}

/* .components li div {
  padding: 30px;
  font-size: 12px;
  color: #000;
} */

/* table */

/* first table */
.table__childSize table {
  width: 100%;
  border: 1px #e4e4e4 solid;
  border-collapse: collapse;
  font-size: 12px;
  color: #555;
  text-align: center;
}

.table__childSize caption {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-bottom: 12px;
}

.table__childSize thead {
  background-color: #fbfbfb;
}
.table__childSize th {
  border: 1px #e4e4e4 solid;
  font-weight: bold;
  padding: 8px;
}

.table__childSize td:first-child {
  font-weight: bold;
}
.table__childSize td {
  border: 1px #e4e4e4 solid;
  padding: 8px;
}

/* second stable */

.table__refund caption {
  text-align: left;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  margin-bottom: 12px;
}

.table__refund table {
  width: 100%;
  border-top: 2px #a5a5a5 solid;
  border-collapse: collapse;
  font-size: 12px;
  color: #555;
  text-align: center;
}

.table__refund thead {
  border-bottom: 1px #e4e4e4 solid;
  background-color: #fbfbfb;
}

.table__refund th:not(:first-child) {
  text-align: right;
  padding: 8px 8px;
}

.table__refund td {
  padding: 8px 8px;
}

.table__refund td:not(:first-child) {
  text-align: right;
}

.table__refund tfoot {
  font-weight: bold;
  border-top: 1px #a5a5a5 solid;
  border-bottom: 1px #e4e4e4 solid;
}

/* form */

.form__container .form__title {
  margin-bottom: 8px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
.form__container form {
  background-color: #fbfbfb;
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.form__container label {
  display: block;
  text-align: left;
  margin: 8px 0;
}

.info__container {
  border: 1px #e4e4e4 solid;
  padding: 20px;
}

.info__container > label input {
  width: 100%;
  font-size: 12px;
  color: #000;
  margin-top: 8px;
  box-sizing: border-box;
}

/* birth */

.birth__container .birth__title {
  text-align: left;
  margin-bottom: 8px;
}

.birth__container .birth {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}

.birth__container select {
  width: 100%;
}

.birth__container select:nth-child(2) {
  margin: 0 8px;
}

/* gender */
.gender__container {
  margin-top: 8px;
}
.gender__container .gender__title {
  text-align: left;
}

.gender__container .gender {
  display: flex;
}

.gender__container .gender {
  font-size: 12px;
  color: #000;
  font-weight: normal;
}

.gender__container .gender > label:nth-child(2) {
  margin-left: 24px;
}

/* phone */

.phone__container {
  text-align: left;
  width: 100%;
}

/* number */

.number__container {
  display: flex;
}
.number__container > label {
  margin-right: 12px;
  width: 100%;
}
.number__container > label input {
  box-sizing: border-box;

  width: 100%;
}
.number__container > button {
  border: 1px #08a600;
  background-color: #4ec53d;
  font-size: 12px;
  color: #fff;
}

.certification > label input {
  box-sizing: border-box;
  width: 100%;
}

/* hobby */
.hobby__title {
  text-align: left;
}
.hobby__list {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
}

.hobby__list .hobby__element {
  display: flex;
  align-items: center;
}
.hobby__list .hobby__element > input {
  margin: 0;
}

/* greeting */

.greeting__container .greeting__title {
  text-align: left;
}

.greeting__container .greeting__area > textarea {
  width: 100%;
}

/* join */
.join__container .join {
  border: 1px #08a600;
  background-color: #4ec53d;
  font-size: 16px;
  color: #fff;
  width: 100%;
}
/* footer */
.footer {
  border-top: 1px #d1d1d1 solid;
}

.info__container {
  margin: 0 auto;
  text-align: center;
}

.info__address {
  margin-top: 24px;
  font-size: 12px;
  color: #999;
}

.info__copyright {
  margin-top: 12px;
  font-size: 12px;
  color: #000;
}
