html,
body,
h1,
p,
ol,
ul,
li,
span,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', 'sans-serif';
}

ol,
li {
  list-style: none;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* header */
.header__img {
  position: fixed;
  background-color: rgba(64, 64, 64, 0.75);
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

.header__img a {
  position: absolute;
  left: 100px;
}

/* invite */

.invite {
  /* background: #fff; */
  width: 100%;
}

.invite__container {
  position: relative;
  height: 750px;
  background: url('../image/section_invite.jpg') no-repeat center;
}

.invite__contents {
  position: absolute;
  top: 400px;
  left: 600px;
}

/* creater */

.creator {
  /* background: #f9939d; */
  width: 100%;
}

.creator__container {
  position: relative;
  height: 822px;
  background: url('../image/section_creator.jpg') no-repeat center;
}

.creator__contents {
  position: absolute;
  top: 400px;
  left: 500px;
}

/* store */

.store {
  width: 100%;
}
.store__container {
  position: relative;
  height: 1084px;
  background: url('../image/section_store.jpg') no-repeat center;
}

.store__contents {
  position: absolute;
  top: 200px;
  left: 500px;
}

.store__lists {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* store - list__items */

.lists__items {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 980px;
}

/* .list__items li {
  display: flex;
} */
.lists__items > li:not(:nth-child(4n-3)) {
  padding-left: 20px;
  box-sizing: border-box;
}

.lists__items li img {
  position: relative;
  display: block;
  border-radius: 10px;
}

.list__items .item__discount {
  position: absolute;
}

.lists__items .item__info {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 230px;
  justify-content: center;
  align-items: center;
}

/* store - item__info */
.item__info .item__title {
  font-size: 20px;
  color: #1b1d21;
}

.item__info .item__price {
  font-size: 28px;
  font-weight: bold;
  color: #1b1d21;
}

.item__info .item__price .unit {
  font-size: 20px;
  color: #1b1d21;
  font-weight: normal;
  margin-left: -8px;
}

.item__info .item__title.clamp {
  padding: 0 10px;
  width: inherit;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__image {
  position: relative;
}

.item__image .item__discount .discount__ratio {
  font-size: 65px;
  color: #fff;
}

.item__image .item__discount .discount__time {
  font-size: 20px;
  color: #fff;
}

.item__image .item__discount {
  position: absolute;
  border-radius: 10px;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 132, 2, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__image:hover .item__discount {
  opacity: 1;
}

/* recipe */

.recipe__container {
  position: relative;
  height: 1030px;
  background: url('../image/pattern_recipe.png') repeat-x center;
  background-color: #b893f9;
}

.recipe__container .recipe__imageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe__images {
  background: url('../image/section_recipe.png') no-repeat;
  width: 980px;
  height: 681px;
  position: relative;
}

.recipe__images .recipe {
  width: 480px;
  height: 482px;
  display: inline-block;
}
.recipe__images .recipe > a {
  display: inline-block;
  width: inherit;
  height: inherit;
}

.recipe__images .cake {
  margin-top: 200px;
}

.recipe__images .tart {
  margin-top: 200px;
  margin-left: 14px;
}

/* recipe__buttons */

.recipe__buttons {
  margin: 40px auto;
  width: 310px;
  height: 91px;
  background: url('../image/go_recipe.gif');
}

.recipe__buttons:hover {
  background: url('../image/go_recipe_over.gif');
}

.recipe__buttons > a {
  display: inline-block;
  width: 310px;
  height: 91px;
}

/* faq */

.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.faq__container .faq__icon {
  background: url('../image/title_faq.gif') no-repeat;
  height: 50px;
  width: 100px;
  margin-bottom: 28px;
}

.faq__lists {
  width: 900px;
}

.faq__item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #a1a5ad solid;
}

.faq__item:first-child {
  border-top: 1px #a1a5ad solid;
}

/* questionArrow_container */

.questionArrow__container {
  display: flex;
  padding: 20px 0;
}

.questionArrow__container .question__icon {
  background: url('../image/icon_question.gif') no-repeat 50% 5px;
  width: 30px;
  margin: 0 12px;
}

.questionArrow__container .question {
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  color: #1b1d21;
  font-weight: bold;
}

.questionArrow__container .arrow__icon {
  background-color: #fff;
  border: none;
}
.questionArrow__container .arrow__icon .arrow__up {
  background: url('../image/icon_arrow_up.gif') no-repeat;
  width: 24px;
  height: 20px;
}

.questionArrow__container .arrow__icon .arrow__down {
  background: url('../image/icon_arrow_down.gif') no-repeat;
  width: 24px;
  height: 20px;
}

/* answer__container */

.answer__container {
  display: flex;
  padding: 20px 0;
  background-color: #f7f8fa;
}

.answer__container .answer__icon {
  background: url('../image/icon_answer.gif') no-repeat 50% 5px;
  width: 30px;
  margin: 0 12px;
}
.answer__container .answer__content {
  font-size: 16px;
  color: #60656e;
  line-height: 28px;
}
