@charset "UTF-8";

body {
  font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', 'sans-serif';
  margin: 0;
}

.title__container {
  height: 120px;
  background-color: #000;
}

.wraper {
  margin: 0 auto;
  padding: 40px;
  width: 1000px;
}
/* header */
.title {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1080px;
  height: 120px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
}

/* lists */

.lists {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lists li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.lists li:nth-child(2) {
  margin: 0 14px;
}

.lists li a {
  box-sizing: border-box;
  border: 1px #d1d1d1 solid;
  height: 33px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.lists li a:hover {
  border-color: #454545;
  font-weight: bold;
}

.elements__title {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px #454545 solid;
  margin-top: 40px;
  padding-bottom: 20px;
}

.element {
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px #d1d1d1 solid;
}

.element__title {
  margin: 0;
  display: flex;
  align-items: center;
  height: 46px;
  padding-left: 15px;
  box-sizing: border-box;
  border-bottom: 1px #d1d1d1 solid;
  color: #333;
  background-color: #f7f7f7;
  font-size: 16px;
  font-weight: bold;
}

.element div {
  padding: 30px;
  height: 12px;
  font-size: 12px;
  color: #000;
}

/* footer */

.info__container {
  border-top: 1px #d1d1d1 solid;
  margin: 0 auto;
  text-align: center;
}

.info__address {
  margin-top: 24px;
  font-size: 12px;
  color: #999;
}

.info__copyright {
  margin-top: 12px;
  font-size: 12px;
  color: #000;
}
