@charset "UTF-8";

body,
ul,
ol,
li,
h1,
div,
h2,
h3,
p,
a,
span,
header,
figure,
button {
  padding: 0;
  margin: 0;
}

* {
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

/* header for main and view*/

.header {
  padding: 0 10px;
  background-color: #fff;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav__logo {
  display: block;
  background: url('../image/logo_m.png') no-repeat 50%;
  background-size: 96px 24px;
  width: 114px;
  height: 100%;
}

/* nav toggle */

.toggle__button {
  cursor: pointer;
  width: 46px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}

.toggle__image {
  width: 60%;
  height: 50%;
}

/* nav menu */
.navbar__menu__list {
  top: 50px;
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
}
.navbar__menu__list.active {
  display: block;
}

.navbar__menu {
  background-color: #fff;
  height: 128px;
  text-align: center;
}
.navbar__menu__list .navbar__menu__item {
  height: 36px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 18px;
}

.navbar__menu__list .navbar__menu__item .item__link {
  color: #333;
}

/* main */

.main__container {
  background-color: #f0f0f0;
}

.main__bannerWrap {
  padding: 20px 35px;
  display: block;
}

/* banner */
.main__banner {
  background-color: #ffee02;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__image {
  width: 250px;
  height: 180px;
  display: block;
  margin: 0 auto;
}

.banner__content {
  font-size: 22px;
  color: #333;
  line-height: 28px;
}

.banner__content {
  line-height: 28px;
  height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.banner__contentProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* profile */

.banner__profile {
  margin-top: 20px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__profile .profile__divider {
  width: 32px;
  display: flex;
  justify-content: center;
  border-top: 1px #000 solid;
}

.banner__profile .profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile .profile__image-none {
  display: block;
  background: url('../image/thumbnail_profile_none.jpg') no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border-radius: 50%;
}

.profile .profile__image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  color: #333;
  margin-left: 12px;
}

/* list */

.main__list,
.list__wrap,
.list__items {
  width: 100%;
}

.list__item {
  width: 100%;
  padding: 15px 15px 0 15px;
  background: #f0f0f0;
  box-sizing: border-box;
  text-align: center;
}

.list__link {
  display: block;
  width: 100%;
  height: 100%;
}

.list__image {
  width: 100%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  box-sizing: border-box;
}

.list__content {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 10px;
  box-sizing: border-box;
}

/* button */

.more__btnContaier {
  margin-top: 20px;
  padding: 0 15px;
}
.more__button {
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
}
.more__button .more__image {
  width: 12px;
  height: 12px;
}
.more__button .more__content {
  font-size: 16px;
  color: #333;
}

/* form */

.form__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
  padding: 20px 15px 25px 15px;
}

.form__wraper .form__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wraper .form__title {
  font-size: 22px;
  color: #333;
}

.form__wraper .form__subtitle {
  margin: 16px 0 30px 0;
  font-size: 14px;
  color: #333;
}

.form {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}

.nickname__label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.nickname__input {
  width: 100%;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  margin-bottom: 12px;
  font-size: 14px;
  color: #acacac;
}

.email__label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.email__container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  justify-content: space-between;
}

.email__input {
  height: 16px;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  width: 100%;
  margin-right: 4px;
}

.email__select {
  margin-left: 4px;
  height: 30px;
  width: 100%;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  appearance: none;
  background: url(../image/icon_arrow_email.png) no-repeat;
  background-position: right;
  background-size: 14px 8px;
}

.form__content {
  width: 100%;
}
.form__content .form__textarea {
  width: 100%;
  font-size: 14px;
  color: #acacac;
  padding: 10px;
  box-sizing: border-box;
}

.form__button {
  position: absolute;
  right: 25px;
  top: 25px;
  border: 2px #bdbdbd solid;
  padding: 4px;
  background-color: #e9e9e9;
  font-size: 11px;
  color: #666;
}

/* notice */

.notice__container {
  padding: 20px 15px;
}

.notice {
  border-bottom: 1px #c1c1c1 solid;
  display: flex;
  flex-direction: column;
}

.notice .notice__title {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.notice__wrap {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
  margin: 12px 0 12px 0;
}

.notice__link {
  display: inline-block;
  color: #333;
  font-size: 14px;
}

.notice__wrap .notice__subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.notice__more {
  width: 50px;
}

.notice__Info {
  margin-top: 12px;
}

.info__title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.notice__Info > a:nth-child(2) {
  padding-right: 6px;
  border-right: 1px #c1c1c1 solid;
}

/* footer */

.footer {
  height: 92px;
  background-color: #fff;
  width: 100%;
}

.contact__contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 300px;
}

.contact__contaier .contact__right {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.copyright {
  font-weight: bold;
}
/* For above 768px */

@media screen and (min-width: 768px),
  screen and (min-height: 768px) and (orientation: landscape) {
  /* header for main and view */

  .navbar__menu__list {
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    top: 0;
  }

  .toggle__button {
    display: none;
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
  }

  .navbar__menu .navbar__menu__item .item__link {
    font-size: 18px;
    color: #333;
  }
  /* banner */

  .main__bannerWrap {
    display: flex;
    flex-direction: row-reverse;
    padding: 34px;
    height: 330px;
    box-sizing: border-box;
    align-items: center;
  }

  .banner__image {
    width: 350px;
    height: 252px;
  }

  .banner__contentProfile {
    display: flex;
    flex-direction: column;
    height: 252px;
    justify-content: center;
    align-items: flex-start;
  }

  .banner__content {
    font-size: 32px;
    line-height: 40px;
    -webkit-line-clamp: 3;
    height: 120px;
  }

  .banner__profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* list */

  .main__list {
    background-color: #f0f0f0;
    padding: 0;
  }

  .list__items {
    padding: 0 34px;
    box-sizing: border-box;
  }

  .list__items::after {
    content: '';
    display: block;
    clear: both;
  }

  .list__item {
    padding: 20px 0 0;
    background: #f0f0f0;
    width: 50%;
    float: left;
    margin: 0;
  }

  .list__items .list__item:nth-child(2n + 1) {
    padding-right: 10px;
    box-sizing: border-box;
  }

  .list__items .list__item:nth-child(2n + 2) {
    padding-left: 10px;
    box-sizing: border-box;
  }

  .list__item .list__content {
    font-size: 18px;
    color: #333;
    height: 50px;
    line-height: 50px;
  }

  /* more__button */
  .more__btnContaier {
    padding: 0 34px;
  }

  /* form */
  .form__wraper {
    padding: 20px 34px 30px 34px;
  }

  .form__contents .form__title {
    font-size: 30px;
  }

  .form__contents .form__subtitle {
    font-size: 18px;
    margin-top: 20px;
  }

  .form {
    padding: 30px 50px;
  }

  .form__button {
    font-size: 15px;
    top: 30px;
    right: 50px;
  }

  /* notice */
  .notice__container {
    padding: 20px 34px;
  }

  .notice__Info {
    display: flex;
    align-items: center;
  }
  .notice__Info .notice__link {
    margin-left: 8px;
  }
}

/* For above 1024 */

@media screen and (min-width: 1024px),
  screen and (min-height: 1024px) and (orientation: landscape) {
  /* header for main and view*/

  header {
    width: 100%;
    background-color: #fff;
  }

  .navbar {
    max-width: 980px;
    height: 70px;
    margin: 0 auto;
  }

  .navbar__menu__list {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .navbar__menu .navbar__menu__item .item__link {
    font-size: 22px;
    color: #333;
  }

  .navbar .nav__logo {
    display: block;
    background: url('../image/logo_pc.png') no-repeat 50%;
    background-size: 96px 24px;
    background-position: left;
    width: 114px;
    height: 100%;
  }

  .navbar__menu .navbar__menu__item:hover {
    font-weight: bold;
  }

  /* banner */

  .main__banner {
    background-color: #ffee02;
    padding: 0;
  }

  .main__bannerWrap {
    width: 988px;
    margin: 0 auto;
    height: 420px;
    padding: 0;
    align-items: flex-start;
  }

  .banner__image {
    margin: 20px 0 20px 0;
    width: 500px;
    height: 360px;
  }
  .banner__contentProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
  }

  .banner__content {
    width: 460px;
    height: 156px;
    line-height: 52px;
    -webkit-line-clamp: 3;
    font-size: 40px;
  }

  /* list */

  .list__wrap {
    width: 988px;
    margin: 0 auto;
  }

  .list__items {
    padding: 0;
  }

  .list__items .list__item:nth-child(2n + 1),
  .list__items .list__item:nth-child(2n + 2) {
    padding: 20px 0 0 20px;
    box-sizing: content-box;
  }

  .list__item {
    padding: 20px 0 0 20px;
    box-sizing: content-box;
    background: #f0f0f0;
    width: 316px;
    height: 316px;
  }

  .list__items .list__item:nth-child(3n + 1) {
    padding-left: 0px;
  }

  .list__link {
    position: relative;
  }

  .list__link .list__content {
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    display: none;
  }

  .list__link:hover::before,
  .list__link:focus::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .list__link:hover .list__content,
  .list__link:focus .list__content {
    display: block;
  }

  /* more__button */
  .more__btnContaier {
    padding: 15px 0 15px 0;
    max-width: 988px;
    margin: 0 auto;
  }

  /* form */

  .form__wraper {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    background: url('../image/bg_pencil.png') no-repeat;
    background-position: 50% 80%;
    background-color: #f4f5f7;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 32px;
  }

  .form__wraper .form__contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  .form__contents .form__title {
    font-size: 42px;
    margin-top: 0;
  }

  .form {
    padding: 20px 50px 40px 50px;
    width: 590px;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .form__button {
    font-size: 15px;
  }

  /* notice */
  .notice__container {
    padding: 20px;
    max-width: 980px;
    margin: 0 auto;
  }

  .notice__container .partners {
    padding-bottom: 20px;
  }
}

/* view */

@media screen and (min-width: 320px) {
  /* container */

  .container__wrap {
    background-color: #f0f0f0;
    padding: 24px 15px;
  }

  /* sction name */

  .cake__Wrap {
    padding-bottom: 24px;
    border-bottom: 1px #c1c1c1 solid;
  }

  .cake__name {
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .cake__item {
    font-size: 14px;
    display: flex;
    width: 100%;
    padding-bottom: 12px;
  }

  .cake__item .category__title {
    font-size: 14px;
    color: #767676;
    font-weight: bold;
    width: 118px;
  }

  .cake__item .category__name {
    color: #666;
  }

  .cake__item .info__number {
    font-family: 'tahoma';
    color: #666;
  }

  /* food info */

  .food__info {
    margin: 24px 0;
    padding-bottom: 12px;
  }
  .info__title {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 12px;
  }

  .info__contents {
    font-size: 14px;
    color: #666;
    line-height: 24px;
  }

  .food__info .food__link {
    color: #3b9a7b;
    text-decoration: underline;
  }

  /* ingredients */
  .ingredients__info {
    margin: 20px 0;
    padding-bottom: 12px;
  }

  /* recipe */
  .recipe__info {
    padding-bottom: 12px;
    margin: 20px 0;
  }

  .recipe__info .info__contents .info__item {
    list-style-type: decimal;
    list-style-position: inside;
    text-indent: -20px;
    padding-left: 20px;
  }

  /* table*/

  .recipe__table caption {
    position: relative;
    /* to prevent breaking border collapse */
  }

  .recipe__table {
    width: 100%;
    border: 1px #c1c1c1 solid;
    border-collapse: collapse;
    margin-bottom: 24px;
  }

  .recipe__table thead {
    background-color: #eaeaea;
    text-align: left;
  }

  .recipe__table td {
    font-size: 14px;
    color: #666;
    padding: 8px;
    border: 1px #c1c1c1 solid;
    border-top: 0;
  }

  .recipe__table th {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    border: 1px #c1c1c1 solid;
    padding: 8px;
  }

  /* images */

  .image {
    width: 100%;
    height: 100%;
  }

  .images__item {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .images__item .image__title {
    width: 100%;
    padding-top: 12px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }

  /* footer */

  .footer {
    height: 92px;
    background-color: #fff;
    width: 100%;
  }

  .contact__contaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 300px;
  }

  .contact__contaier .contact {
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .contact__contaier .copyright .componay {
    font-weight: bold;
  }
}

/* For above 768px */

@media screen and (min-width: 768px) {
  .cake__info {
    display: flex;
    justify-content: space-between;
  }

  .images__item {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

/* For above 1024px */

@media screen and (min-width: 1024px) {
  .container {
    background-color: #f0f0f0;
  }
  .container__wrap {
    max-width: 988px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }
}
