body,
ul,
ol,
li,
h1,
div,
h2,
p,
table,
th,
td,
tr,
figure {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', 'sans-serif';
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}
/* header */
header {
  max-width: 980px;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: block;
  background: url('../image/logo_m.png') no-repeat 90% 50%;
  background-size: 96px 24px;
  width: 114px;
  height: 100%;
}

/* navbar -- navbar__menu */

.navbar__menu {
  display: none;
  flex-direction: column;
}

.navbar__menu__item {
  padding: 8px 12px;
  font-size: 18px;
}

.navbar__menu__item > a {
  color: #333;
}

/* navbar - nav__toggleBtn */
.nav__toggleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 50px;
}
.nav__toggleBtn .toggle__checkbox {
  position: absolute;
  appearance: none;
  /* cursor: pointer; */
}

.nav__toggleBtn .toggle__image {
  height: 28px;
}
.nav__toggleBtn .toggle__label {
  cursor: pointer;
}

/* .nav__toggleBtn .toggle__checkbox:checked .navbar__menu {
  display: flex;
} */

/* container */

.container {
  background-color: #f0f0f0;
  padding: 24px 15px;
  /* width: 988px;
  margin: 0 auto; */
}

/*name */

.cake__Wrap {
  border-bottom: 1px #c1c1c1 solid;
}
.cake__name {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.cake__items {
  font-size: 14px;
  /* display: flex; */
}

.cake__item {
  display: flex;
  width: 100%;
}

.cake__item > div:first-child {
  font-size: 14px;
  color: #767676;
  font-weight: bold;
  padding-bottom: 12px;
  width: 118px;
}

.cake__item > div:last-child {
  color: #666;
}

.cake__item .info__number {
  font-family: 'tahoma';
}

/* food info */

.food__info {
  margin: 20px 0;
  padding-bottom: 12px;
}
.info__title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 12px;
}

.info__contents {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}

.food__info .food__link {
  color: #3b9a7b;
}

/* ingredients */
.ingredients__info {
  margin: 20px 0;
  padding-bottom: 12px;
}

/* recipe */
.recipe__info {
  padding-bottom: 12px;
  margin: 20px 0;
}

.recipe__info > .info__contents > li {
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -20px;
  padding-left: 20px;
}

/* table*/

.recipe__table {
  width: 100%;
  border: 1px #c1c1c1 solid;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.recipe__table > thead {
  background-color: #eaeaea;
  text-align: left;
}

.recipe__table th {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  height: 32px;
  border: 1px #c1c1c1 solid;
  padding: 8px;
}

.recipe__table td {
  font-size: 14px;
  color: #666;
  padding: 8px;
  border: 1px #c1c1c1 solid;
}

/* images */

.images {
}
.images__item {
  margin-top: 40px;
}
.images__item .image__ingredients {
  background: url('../image/strawberry_cake_material.jpg') no-repeat;
  background-size: contain;
  width: 100%px;
  height: 300px;
}

.images .image__title {
  width: 100%;
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.images__item .image__cake {
  background: url('../image/strawberry_cake.jpg') no-repeat;
  background-size: contain;
  width: 100%px;
  height: 300px;
}
