body,
ul,
ol,
li,
h1,
div,
h2,
p,
a,
header,
figure,
button {
  padding: 0;
  margin: 0;
}

body {
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

/* header */
header {
  padding: 0 10px;
  background-color: #fff;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav__logo {
  display: block;
  background: url('../image/logo_m.png') no-repeat 50%;
  background-size: 96px 24px;
  width: 114px;
  height: 100%;
}

/* nav toggle */

.toggle__checkbox {
  position: absolute;
  appearance: none;
  display: none;
}

.toggle__checkbox:checked ~ .navbar__menu__list {
  top: 50px;
  width: 100%;
  text-align: center;
  height: 128px;
  z-index: 10;
  background-color: #fff;
  margin-left: -10px;
  padding: 10px 0;
  box-sizing: border-box;
}

.toggle__label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 12px 8px;
  box-sizing: border-box;
  width: 46px;
  height: 50px;
}

.toggle__image {
  width: 100%;
  height: 100%;
}

/* nav menu */
.navbar__menu__list {
  position: absolute;
  height: 0px;
  overflow: hidden;
}

.navbar__menu__list .navbar__menu__item {
  height: 36px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 18px;
}

.navbar__menu__list .navbar__menu__item > a {
  color: #333;
}

/* main */

.main__wrap {
}

.main__container {
  background-color: #f0f0f0;
}

/* banner */
.main__banner {
  padding: 20px 35px;
  background-color: #ffee02;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__image > img {
  width: 250px;
  height: 180px;
}

.banner__content {
  font-size: 22px;
  color: #333;
  line-height: 28px;
}

.clamp {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* profile */

.banner__profile {
  margin-top: 20px;
  width: 100p;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__divider {
  width: 32px;
  display: flex;
  justify-content: center;
  border-top: 1px #000 solid;
}

.profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile__image {
  display: inline-block;
  background: url('../image/thumbnail_profile_none.jpg') no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border-radius: 50%;
  margin-right: 12px;
}

.profile__name {
  font-size: 16px;
  color: #333;
}

/* list */

.main__list {
  padding: 10px;
}
.list__wrap {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.list__item {
  display: block;
  margin-bottom: 15px;
}

.list__content {
  height: 40px;
  font-size: 14px;
  color: #333;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
}

.list__image {
  width: 100%;
  height: 100%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

/* button */

.more__button {
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
}
.more__button .more__image {
  width: 12px;
  height: 12px;
}
.more__button .more__content {
  font-size: 16px;
  color: #333;
}

/* form */

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
  padding: 20px 10px 25px 10px;
}

.form__container h2 {
  margin-top: 32px;
  font-size: 22px;
  color: #333;
}

.form__container p {
  margin: 16px 0 30px 0;
  font-size: 14px;
  color: #333;
}

.form {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}

.nickname__label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.nickname__input {
  width: 100%;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  margin-bottom: 12px;
  font-size: 14px;
  color: #acacac;
}

.email__label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.email__container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  justify-content: space-between;
}

.email__input {
  height: 16px;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  width: 100%;
  margin-right: 4px;
}

.email__select {
  margin-left: 4px;
  height: 30px;
  width: 100%;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  appearance: none;
  background: url(../image/icon_arrow_email.png) no-repeat;
  background-position: right;
  background-size: 14px 8px;
}

.form__content {
  width: 100%;
}
.form__content > textarea {
  width: 100%;
  font-size: 14px;
  color: #acacac;
  padding: 10px;
  box-sizing: border-box;
}

.form__button {
  position: absolute;
  right: 25px;
  top: 25px;
}

/* view */

/* container */

.container__wrap {
  background-color: #f0f0f0;
  padding: 24px 15px;
}

/* sction name */

.cake__Wrap {
  padding-bottom: 24px;
  border-bottom: 1px #c1c1c1 solid;
}

.cake__name {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.cake__item {
  font-size: 14px;
  display: flex;
  width: 100%;
  padding-bottom: 12px;
}

.cake__item > div:first-child {
  font-size: 14px;
  color: #767676;
  font-weight: bold;

  width: 118px;
}

.cake__item > div:last-child {
  color: #666;
}

.cake__item .info__number {
  font-family: 'tahoma';
}

/* food info */

.food__info {
  margin: 24px 0;
  padding-bottom: 12px;
}
.info__title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 12px;
}

.info__contents {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}

.food__info .food__link {
  color: #3b9a7b;
  text-decoration: underline;
}

/* ingredients */
.ingredients__info {
  margin: 20px 0;
  padding-bottom: 12px;
}

/* recipe */
.recipe__info {
  padding-bottom: 12px;
  margin: 20px 0;
}

.recipe__info > .info__contents > li {
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -20px;
  padding-left: 20px;
}

/* table*/

.recipe__table caption {
  position: relative;
  /* to prevent breaking border collapse */
}

.recipe__table {
  width: 100%;
  border: 1px #c1c1c1 solid;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.recipe__table thead {
  background-color: #eaeaea;
  text-align: left;
}

.recipe__table td {
  font-size: 14px;
  color: #666;
  padding: 8px;
  border: 1px #c1c1c1 solid;
  border-top: 0;
}

.recipe__table th {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border: 1px #c1c1c1 solid;
  height: 32px;
  padding: 8px;
}

/* images */

.image {
  width: 100%;
  height: 100%;
}

.images__item {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.images__item .image__title {
  width: 100%;
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* footer */

footer {
  height: 92px;
  background-color: #fff;
  width: 100%;
}

.contact__contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 300px;
}

.contact__contaier .contact {
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact__contaier .copyright > span {
  font-weight: bold;
}

/* For above 768px */

@media screen and (min-width: 768px) {
  header {
    padding: 0 10px;
  }

  .navbar__menu__item:last-child {
    padding: 8px 12px;
    padding-right: 0;
  }

  .toggle__label {
    display: none;
  }
  .navbar__menu__list {
    position: relative;
    height: 50px;
    width: 100%;
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .navbar__menu > li > a {
    font-size: 18px;
    color: #333;
  }
  .cake__info {
    display: flex;
    justify-content: space-between;
  }

  .images__item {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

/* For above 1024px */

@media screen and (min-width: 1024px) {
  header {
    max-width: 980px;
    margin: 0 auto;
  }

  .navbar__menu__item:last-child {
    padding: 8px 12px;
    padding-right: 0;
  }

  .nav__logo {
    display: block;
    background: url('../image/logo_pc.png') no-repeat 50%;
    background-size: 96px 24px;
    background-position: left;
    width: 114px;
    height: 100%;
  }

  .navbar__menu > li > a {
    font-size: 22px;
    color: #333;
  }

  .navbar__menu > li:hover {
    font-weight: bold;
  }

  .container {
    width: 100%;
    background-color: #f0f0f0;
  }

  .container__wrap {
    max-width: 980px;
    padding: 24px 0;
    margin: 0 auto;
  }
}
