body,
ul,
ol,
li,
h1,
div,
h2,
h3,
p,
a,
span,
header,
figure,
button {
  padding: 0;
  margin: 0;
}

body {
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
}

/* header */
header {
  padding: 0 10px;
  background-color: #fff;
}

/* navbar */

.navbar {
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav__logo {
  display: block;
  background: url('../image/logo_m.png') no-repeat 50%;
  background-size: 96px 24px;
  width: 114px;
  height: 100%;
}

/* nav toggle */

.toggle__checkbox {
  position: absolute;
  appearance: none;
  display: none;
}

.toggle__checkbox:checked ~ .navbar__menu__list {
  top: 50px;
  width: 100%;
  text-align: center;
  height: 128px;
  z-index: 10;
  background-color: #fff;
  margin-left: -10px;
  padding: 10px 0;
  box-sizing: border-box;
}

.toggle__label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding: 12px 8px;
  box-sizing: border-box;
  width: 46px;
  height: 50px;
}

.toggle__image {
  width: 100%;
  height: 100%;
}

/* nav menu */
.navbar__menu__list {
  position: absolute;
  height: 0px;
  overflow: hidden;
}

.navbar__menu__list .navbar__menu__item {
  height: 36px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: 18px;
}

.navbar__menu__list .navbar__menu__item > a {
  color: #333;
}

/* main */

.main__container {
  background-color: #f0f0f0;
}

.main__bannerWrap {
  padding: 20px 35px;
  display: block;
}

/* banner */
.main__banner {
  /* padding: 20px 35px; */
  background-color: #ffee02;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__image > img {
  width: 250px;
  height: 180px;
}

.banner__content {
  display: flex;
  font-size: 22px;
  color: #333;
  line-height: 28px;
}

.banner__content > p {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  height: 56px;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* profile */

.banner__profile {
  margin-top: 20px;
  width: 100p;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__profile .profile__divider {
  width: 32px;
  display: flex;
  justify-content: center;
  border-top: 1px #000 solid;
}

.banner__profile .profile {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.profile .profile__image {
  display: block;
  background: url('../image/thumbnail_profile_none.jpg') no-repeat;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border-radius: 50%;
  margin-right: 12px;
}

.profile__name {
  font-size: 16px;
  color: #333;
}

/* list */

.main__list {
  padding: 15px 15px 0 15px;
}
.list__wrap {
  display: flex;
  flex-direction: column;
}

.list__item {
  display: block;
  margin-bottom: 15px;
}

.list__content {
  height: 40px;
  font-size: 14px;
  color: #333;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list__image {
  width: 100%;
  height: 100%;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

/* button */

.more__btnContaier {
  padding: 0 15px;
}
.more__button {
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
}
.more__button .more__image {
  width: 12px;
  height: 12px;
}
.more__button .more__content {
  font-size: 16px;
  color: #333;
}

/* form */

.form__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
  padding: 20px 15px 25px 15px;
}

.form__wraper .form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wraper h2 {
  margin-top: 32px;
  font-size: 22px;
  color: #333;
}

.form__wraper p {
  margin: 16px 0 30px 0;
  font-size: 14px;
  color: #333;
}

.form {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.08);
}

.nickname__label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 12px;
}

.nickname__input {
  width: 100%;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  margin-bottom: 12px;
  font-size: 14px;
  color: #acacac;
}

.email__label {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.email__container {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  justify-content: space-between;
}

.email__input {
  height: 16px;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  width: 100%;
  margin-right: 4px;
}

.email__select {
  margin-left: 4px;
  height: 30px;
  width: 100%;
  border: none;
  padding-bottom: 12px;
  border-bottom: 1px #c1c1c1 solid;
  appearance: none;
  background: url(../image/icon_arrow_email.png) no-repeat;
  background-position: right;
  background-size: 14px 8px;
}

.form__content {
  width: 100%;
}
.form__content > textarea {
  width: 100%;
  font-size: 14px;
  color: #acacac;
  padding: 10px;
  box-sizing: border-box;
}

.form__button {
  position: absolute;
  right: 25px;
  top: 25px;
  border: 2px #bdbdbd solid;
  padding: 4px;
  background-color: #e9e9e9;
  font-size: 11px;
  color: #666;
}

/* notice */

.notice__container {
  padding: 20px 15px;
}

.notice__container h3 {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
}

.notice {
  padding-bottom: 20px;
  border-bottom: 1px #c1c1c1 solid;
  display: flex;
  flex-direction: column;
}
.notice__wrap {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
}

.notice__wrap p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice__wrap p > a {
  color: #333;
}

.notice__wrap > a {
  display: block;
  width: 70px;
  font-size: 14px;
  color: #333;
  display: block;
}

.creators {
  margin-top: 20px;
}

.creators > a > span {
  font-size: 14px;
  color: #333;
}
.creators a:nth-child(2) {
  padding-right: 6px;
  border-right: 1px #c1c1c1 solid;
}

.partners {
  margin-top: 20px;
}

.partners > a > span {
  font-size: 14px;
  color: #333;
}

.partners a:nth-child(2) {
  padding-right: 6px;
  border-right: 1px #c1c1c1 solid;
}

/* footer */

footer {
  height: 92px;
  background-color: #fff;
  width: 100%;
}

.contact__contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 300px;
}

.contact__contaier .contact {
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact__contaier .copyright > span {
  font-weight: bold;
}

/* For above 768px */

@media screen and (min-width: 768px) {
  /* header */

  header {
    padding: 0 10px;
  }

  .navbar__menu__item:last-child {
    padding: 8px 12px;
    padding-right: 0;
  }

  .toggle__label {
    display: none;
  }
  .navbar__menu__list {
    position: relative;
    height: 50px;
    width: 100%;
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .navbar__menu > li > a {
    font-size: 18px;
    color: #333;
  }

  /* banner */

  .main__bannerWrap {
    display: flex;
    flex-direction: row-reverse;
    padding: 34px;
    height: 330px;
    box-sizing: border-box;
    align-items: center;
  }

  .banner__image {
    width: 350px;
    height: 252px;
  }

  .banner__image > img {
    display: block;
    width: 350px;
    height: 252px;
  }

  .banner__contentProfile {
    display: flex;
    flex-direction: column;
    height: 252px;
    justify-content: center;
    align-items: flex-start;
  }

  .banner__content > p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 156px;
    font-size: 32px;
  }

  .banner__profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* list */

  .main__list {
    padding: 20px 34px;
  }

  .list__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list__item {
    flex: 0 50%;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  .list__item:nth-child(2n-1) {
    padding-right: 10px;
    box-sizing: border-box;
  }
  .list__item:nth-child(2n) {
    padding-left: 10px;
    box-sizing: border-box;
  }

  .list__item .list__image {
    width: 100%;
    height: 100%;
  }
  .list__item .list__content {
    font-size: 18px;
    color: #333;
    height: 50px;
  }
  /* more__button */
  .more__btnContaier {
    padding: 0 34px;
  }

  /* form */
  .form__wraper {
    padding: 20px 34px 30px 34px;
  }

  .form {
    padding: 30px 50px;
  }

  .form__button {
    font-size: 15px;
    top: 30px;
    right: 50px;
  }

  /* notice */
  .notice__container {
    padding: 20px 34px;
  }
}

/* For above 1024 */

@media screen and (min-width: 1024px) {
  /* header */

  header {
    width: 100%;
    background-color: #fff;
  }

  .navbar {
    max-width: 980px;
    height: 70px;
    margin: 0 auto;
  }

  .navbar__menu__item:last-child {
    padding: 8px 12px;
    padding-right: 0;
  }

  .toggle__label {
    display: none;
  }
  .navbar__menu__list {
    /* position: relative; */
    height: 100%;
    display: flex;
    align-items: center;
    /* width: 100%; */
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .navbar__menu > li > a {
    font-size: 18px;
    color: #333;
  }

  .navbar .nav__logo {
    display: block;
    background: url('../image/logo_pc.png') no-repeat 50%;
    background-size: 96px 24px;
    background-position: left;
    width: 114px;
    height: 100%;
  }

  .navbar__menu > li:hover {
    font-weight: bold;
  }

  /* banner */

  .main__banner {
    background-color: #ffee02;
    padding: 0;
  }

  .main__bannerWrap {
    width: 988px;
    margin: 0 auto;
    height: 420px;
    padding: 0;
    align-items: flex-start;
  }

  .banner__image {
    margin: 20px 0 20px 0;
    width: 500px;
    height: 360px;
  }
  .banner__image > img {
    width: 500px;
    height: 360px;
  }
  .banner__contentProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
  }

  .banner__content {
    width: 460px;
    height: 156px;
  }

  .banner__content > p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 52px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 156px;
    font-size: 40px;
  }

  /* list */

  .main__list {
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
  }

  .list__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 988px;
    margin: 0 auto;
  }

  .list__item {
    flex: 1;
    width: 316px;
    height: 316px;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
  }

  .list__item:nth-child(2) {
    margin: 0 20px 0 20px;
  }

  .list__item:nth-child(5) {
    margin: 0 20px 0 20px;
  }

  .list__item .list__image {
    width: 100%;
    height: 316px;
    display: block;
  }

  .list__item .list__content {
    position: relative;
    bottom: 60px;
    height: 60px;
    width: 316px;
    margin: 0;
    font-size: 18px;
    color: #333;
    background-color: #fff;
    padding: 0;
    opacity: 0;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .list__item:hover .list__content {
    opacity: 1;
  }

  .list__item:hover {
    opacity: 0.3;
  }

  .list__item:nth-child(2n-1) {
    padding: 0;
    box-sizing: content-box;
  }

  .list__item:nth-child(2n) {
    padding: 0;
    box-sizing: content-box;
  }

  /* more__button */
  .more__btnContaier {
    padding: 0;
    max-width: 988px;
    margin: 0 auto;
  }

  /* form */

  .form__wraper {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    background: url('../image/bg_pencil.png') no-repeat;
    background-position: 50% 80%;
    justify-content: space-between;
    background-color: #f4f5f7;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 32px;
  }

  .form__wraper .form__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-top: 28px; */
    box-sizing: border-box;
  }

  .form__title > h2 {
    font-size: 42px;
    color: #333;
    margin-top: 0;
  }

  .form__title > p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
  }

  .form {
    /* margin-top: 28px; */
    padding: 20px 50px 40px 50px;
    width: 590px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .form__button {
    font-size: 15px;
  }

  /* notice */
  .notice__container {
    padding: 0;
    max-width: 980px;
    margin: 20px auto;
  }

  .notice__container .partners {
    padding-bottom: 20px;
  }
}

/* view */

/* container */

.container__wrap {
  background-color: #f0f0f0;
  padding: 24px 15px;
}

/* sction name */

.cake__Wrap {
  padding-bottom: 24px;
  border-bottom: 1px #c1c1c1 solid;
}

.cake__name {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.cake__item {
  font-size: 14px;
  display: flex;
  width: 100%;
  padding-bottom: 12px;
}

.cake__item > div:first-child {
  font-size: 14px;
  color: #767676;
  font-weight: bold;

  width: 118px;
}

.cake__item > div:last-child {
  color: #666;
}

.cake__item .info__number {
  font-family: 'tahoma';
}

/* food info */

.food__info {
  margin: 24px 0;
  padding-bottom: 12px;
}
.info__title {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 12px;
}

.info__contents {
  font-size: 14px;
  color: #666;
  line-height: 24px;
}

.food__info .food__link {
  color: #3b9a7b;
  text-decoration: underline;
}

/* ingredients */
.ingredients__info {
  margin: 20px 0;
  padding-bottom: 12px;
}

/* recipe */
.recipe__info {
  padding-bottom: 12px;
  margin: 20px 0;
}

.recipe__info > .info__contents > li {
  list-style-type: decimal;
  list-style-position: inside;
  text-indent: -20px;
  padding-left: 20px;
}

/* table*/

.recipe__table caption {
  position: relative;
  /* to prevent breaking border collapse */
}

.recipe__table {
  width: 100%;
  border: 1px #c1c1c1 solid;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.recipe__table thead {
  background-color: #eaeaea;
  text-align: left;
}

.recipe__table td {
  font-size: 14px;
  color: #666;
  padding: 8px;
  border: 1px #c1c1c1 solid;
  border-top: 0;
}

.recipe__table th {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border: 1px #c1c1c1 solid;
  height: 32px;
  padding: 8px;
}

/* images */

.image {
  width: 100%;
  height: 100%;
}

.images__item {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.images__item .image__title {
  width: 100%;
  padding-top: 12px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* footer */

footer {
  height: 92px;
  background-color: #fff;
  width: 100%;
}

.contact__contaier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  width: 300px;
}

.contact__contaier .contact {
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}

.contact__contaier .copyright > span {
  font-weight: bold;
}

/* For above 768px */

/* @media screen and (min-width: 768px) {
  header {
    padding: 0 10px;
  }

  .navbar__menu__item:last-child {
    padding: 8px 12px;
    padding-right: 0;
  }

  .toggle__label {
    display: none;
  }
  .navbar__menu__list {
    position: relative;
    height: 50px;
    width: 100%;
  }

  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }

  .navbar__menu > li > a {
    font-size: 18px;
    color: #333;
  }
  .cake__info {
    display: flex;
    justify-content: space-between;
  }

  .images__item {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
} */

/* For above 1024px */

/* @media screen and (min-width: 1024px) {
  header {
    max-width: 980px;
    margin: 0 auto;
  }

  .navbar__menu__item:last-child {
    padding: 8px 12px;
    padding-right: 0;
  }

  .nav__logo {
    display: block;
    background: url('../image/logo_pc.png') no-repeat 50%;
    background-size: 96px 24px;
    background-position: left;
    width: 114px;
    height: 100%;
  }

  .navbar__menu > li > a {
    font-size: 22px;
    color: #333;
  }

  .navbar__menu > li:hover {
    font-weight: bold;
  }

  .container {
    width: 100%;
    background-color: #f0f0f0;
  }

  .container__wrap {
    max-width: 980px;
    padding: 24px 0;
    margin: 0 auto;
  }
} */
